.pais{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 30px;
}
.estado{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.cidade{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.categoriaf{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.filtrar{
  background-color: #151415;
}
