.namem{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 200px;
}

.categoriam{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;

}
.endereco{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}

.phone{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.conteudo{
  background-color: #151415;
}
