.filtram{
  background-color: #151415;
}
.paism{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 30px;
}
.estadom{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.cidadem{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;
}
.categorias{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;  
}
