.conteudol{
  background-color: #151415;
}
.namel{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 200px;

}
.categorial{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;

}
.enderecol{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;

}
.phonel{
  margin-bottom: 10px;
  height: auto;
  width: auto;
  padding-top: 5px;

}
