
.imagemenu{
  background: url('../assets/fundomenu.png');
  background-size: 100%;
}
.medico1{
  width: 136px;
  height: 136px;
  top: 130px;
  left: 30px;

  margin-bottom: 30px;
}
.lugares2{
  width: 136px;
  height: 136px;
  top: 130px;
  left: 65px;

  margin-bottom: 30px;
}
.menulogo{

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: url('../assets/logo.png');
  background-size: 100%;
  width: 160px;
  height: 200px;
}
.iconbutton{
  font-size: 80px;
}
